[submodule "backend"]
	path = backend
	url = https://github.com/freddy38510/FreddyEscobar_7_25012021_backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/freddy38510/FreddyEscobar_7_25012021_frontend
